@font-face {
    font-family: "Charis Alt";
    src: url(../assets/fonts/CharisAlt.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Charis SIL";
    src: local("Charis SIL Regular"),
         local("CharisSIL-Regular"),
         url(../assets/fonts/CharisSIL-R.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Charis SIL";
    src: local("Charis SIL Bold"),
         local("CharisSIL-Bold"),
         url(../assets/fonts/CharisSIL-B.woff2) format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Charis SIL";
    src: local("Charis SIL Italic"),
         local("CharisSIL-Italic"),
         url(../assets/fonts/CharisSIL-I.woff2) format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Charis SIL";
    src: local("Charis SIL Bold Italic"),
         local("CharisSIL-BoldItalic"),
         url(../assets/fonts/CharisSIL-BI.woff2) format('woff2');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Andika";
    src: local("Andika Regular"),
         local("Andika-Regular"),
         url(../assets/fonts/Andika-R.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}

/*
 * Font specific rules
 *    - Charis SIL
 *    - Doulos SIL
 *    - Gentium Plus
 *    - Andika
 *
 * These fonts have both OpenType and Graphite features. A web dveloper does not know if
 * Graphite rendering is enabled ro disabled in Firefox, so it is necessry to include
 * both sets of features within each rule.
 *
 * If you only include OpenTYpe rules, and Graphite is enabled, then the features will not
 * be applied when the text is rendered.
 *
 */


:lang(mor),
.moro {
    /* Charis SIL, Doulos SIL, Gentium Plus */
    font-feature-settings: "ss01" 0, "litr" 0, "ss04" 1, "bowl" 1, "cv43" 0, "Engs" 0, "cv55" 1, "R_tl" 1;
    /* Andika  */
    /* font-feature-settings: "ss01" 1, "litr" 0, "ss04" 1, "bowl" 1, "cv43" 0, "Engs" 0, "cv55" 1, "R_tl" 1; */
}

:lang(din),
.dinka {
    /* Charis SIL, Doulos SIL, Gentium Plus */
    font-feature-settings: "ss01" 0, "litr" 0, "cv43" 0, "Engs" 0;
    /* Andika  */
    /* font-feature-settings: "ss01" 1, "litr" 0, "cv43" 0, "Engs" 0; */
}

/* U+0110 Đ */
.uni0110g1 {
    /* font-feature-settings: ; */
}
.uni0110g2 {
    /* font-feature-settings: ; */
    font-family: "Charis Alt";
}

/* U+0111 đ */
.uni0111g1 {
    font-feature-settings: "ss04" 0, "bowl" 0;
}
.uni0111g2 {
    font-feature-settings: "ss04" 1, "bowl" 1;
}

/* U+014A Ŋ */
.uni014Ag1 {
    font-feature-settings: "cv43" 2, "Engs" 2;
}
.uni014Ag2 {
    font-feature-settings: "cv43" 0, "Engs" 0;
}
.uni014Ag3 {
    font-feature-settings: "cv43" 1, "Engs" 1;
}
.uni014Ag4 {
    font-feature-settings: "cv43" 3, "Engs" 3;
}

/*  ‎OGONEK: U+0328 ◌̨ ; U+0104 Ą ; U+0105 ą  */

.uni0328g1,
.uni0104g1,
.uni0105g1,
.uni0118g1,
.uni0119g1,
.uni012Eg1,
.uni012Fg1,
.uni0172g1,
.uni0173g1,
.uni01EAg1,
.uni01EBg1,
.uni01ECg1,
.uni01EDg1 {
    font-feature-settings: "cv76" 0, "ogon" 0;
}
.uni0328g2,
.uni0104g2,
.uni0105g2,
.uni0118g2,
.uni0119g2,
.uni012Eg2,
.uni012Fg2,
.uni0172g2,
.uni0173g2,
.uni01EAg2,
.uni01EBg2,
.uni01ECg2,
.uni01EDg2 {
    font-feature-settings: "cv76" 1, "ogon" 1;
}

/* U+2C64 Ɽ */
.uni2C64g1 {
    font-feature-settings: "cv55" 0, "R_tl" 0;
}
.uni2C64g2 {
    font-feature-settings: "cv55" 1, "R_tl" 1;
}